#main-name {
    text-align: center;
    vertical-align: center;
    font-size: 100PX;
    color: rgb(164, 25, 25);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}


.flex-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
}